<p id="notice"><%= notice %></p>

<h1>All Artists</h1>
<%= form_tag user_artists_path(current_user), :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Artist</th>
    </tr>
  </thead>

  <tbody class='artists-list'>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, user_artist_path(current_user, artist) %></td>
        <td><%= link_to 'Edit', edit_user_artist_path(current_user, artist) %></td>
        <td><%= link_to 'Destroy', user_artist_path(current_user, artist), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete-artist' %></td>
        <td><%= render partial: "layouts/favorite", locals: {user: current_user, media: artist} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render partial: 'form', locals: {user: current_user, artist: Artist.new}, remote: true, class: 'create-artist' %>