<p id="notice"><%= notice %></p>

<h1><%= @artist.name %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= render partial: 'layouts/all_albums', locals: { user: current_user, albums: @albums } %>

</table>

<%= link_to 'Edit', edit_user_artist_path(@artist) %> |
<%= link_to 'Back', user_artists_path %>
