<p id="notice"><%= notice %></p>

<h1><%= @user.email %></h1>

<% if @favorite_artists.first %>
	<table>
	<h3>Favorite Artists</h3>
	  <thead>
	    <tr>
	      <th>Name</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @favorite_artists.each do |favorite| %>
	    <% artist = favorite.find_associated_media %>
	      <tr>
	        <td><%= link_to artist.title, user_artist_path(current_user, artist) %></td>
	      </tr>
	    <% end %>
	  </tbody>

	</table>
<% end %>

<br> 
<% if @favorite_albums.first %>
	<table>
	<h3>Favorite Albums</h3>
	  <thead>
	    <tr>
	      <th>Artist</th>
	      <th>Title</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @favorite_albums.each do |favorite| %>
	    	<% album = favorite.find_associated_media %>
	      <tr>
	      	<td><%= link_to album.artist.name, user_artist_path(current_user, album.artist) %></td>
	        <td><%= link_to album.title, user_album_path(current_user, album) %></td>
	      </tr>
	    <% end %>
	  </tbody>

	</table>
<% end %>

<br> 
<% if @favorite_songs.first %>
	<table>
	<h3>Favorite Songs</h3>
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Album</th>
	      <th>Artist</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @favorite_songs.each do |favorite| %>
	    	<% song = favorite.find_associated_media %>
	      <tr>
	        <td><%= link_to song.title, user_song_path(current_user, song) %></td>
	        <td><%= link_to song.album.title, user_album_path(current_user, song.album) %></td>
	        <td><%= link_to song.album.artist.name, user_artist_path(current_user, song.album.artist) %></td>
	      </tr>
	    <% end %>
	  </tbody>

	</table>
<% end %>

<br> 
