<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Album</th>
      <th>Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, user_song_path(current_user, song) %></td>
        <td><%= link_to song.album.title, user_album_path(current_user, song.album) %></td>
        <td><%= link_to song.album.artist.name, user_artist_path(current_user, song.album.artist) %></td>
        <td><%= link_to 'Edit', edit_user_song_path(current_user, song, album: song.album) %></td>
        <td><%= link_to 'Destroy', user_song_path(current_user, song), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= render partial: "layouts/favorite", locals: {user: current_user, media: song} %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>