<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
    </tr>
  </thead>

  <tbody>
  <% @albums.each do |album| %>
    <tr>
      <td><%= link_to album.artist.name, user_artist_path(current_user, album.artist) %></td>
      <td><%= link_to album.title, user_album_path(current_user, album) %></td>
      <td><%= link_to 'Edit', edit_user_album_path(current_user, album) %></td>
      <td><%= link_to 'Destroy', user_album_path(current_user, album), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= render partial: "layouts/favorite", locals: {user: current_user, media: album} %></td>

    </tr>
  <% end %>
</tbody>

</table>

<br>

