<!DOCTYPE html>
<html>
  <head>
    <title>Recordly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_user %>
      <ul>
        <li><%= link_to "Favorites", user_path(current_user) %></li>
  			<li><%= link_to "Artists", user_artists_path(current_user) %></li>
  			<li><%= link_to "Albums", user_albums_path(current_user) %></li>
  			<li><%= link_to "Songs", user_songs_path(current_user) %></li>
      </ul>
  	<% end %>
    <%= yield %>
  </body>
</html>
